/*

green #278839
blue #0082EB
red #DE324C

cream #F6EDD9
off-black #002800

*/

.logo { font-size: 10px; }
.logo__eye { border-color: #278839; }
.logo__head { background: #278839; }


body {
  margin: 0;
}

.logo {
  position: absolute;
  width: 30em;
  height: 30em;
}

.logo__head {
  width: 100%;
  height: 80%;
  border-radius: 50%;
  margin: 10% 0;
}

.logo__eye {
  position: absolute;
  background: white;
  border-width: 1.2em;
  border-style: solid;
  width: 42%;
  height: 42%;
  border-radius: 50%;
  top: 3%;
}

.logo__eye--left {
  left: 0%;
}

.logo__eye--right {
  right: 0%;
}

.logo__eye::after {
  content: "";
  display: block;
  height: 16%;
  width: 16%;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9;
  margin: -8%;
  border-radius: 50%
}

.logo__nostril {
  background: white;
  position: absolute;
  height: 5%;
  width: 5%;
  border-radius: 50%;
  top: 48%;
}

.logo__nostril--left {
  left: 43%;
}

.logo__nostril--right {
  right: 43%;
}

.logo__mouth {
  display: block;
  color: white;
  position: absolute;
  top: 43%;
  left: 46%;
  font-size: 13em;
  transform: rotate(90deg);
  font-family: sans-serif;
}
